body {
  margin: 0%;
  padding: 0%;

  font-family: "Anton", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #292929;
}

.squares {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  border-radius: 16px;
  animation: squares 2s linear infinite;
}

.squares:nth-child(2) {
  animation-delay: 0.5s;
}

.squares:nth-child(1) {
  animation-delay: 1s;
}

@keyframes squares {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(0, -150%);
  }
  25% {
    transform: translate(0, -150%);
  }
  37.5% {
    transform: translate(150%, -150%);
  }
  50% {
    transform: translate(150%, -150%);
  }
  62.5% {
    transform: translate(150%, 0);
  }
  75% {
    transform: translate(150%, 0);
  }
  87.5% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}